@{
    ViewData["Title"] = "Home Page";
}

<style>

    body{
        background-color: #EEF2FF;
    }
    ul li {
        background-color: #D6DAF0;
        border: 1px solid #999;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        min-width: 200px;
        display: grid;
        max-height: auto;
    }

        ul li:nth-child(even) {
            background-color: #dfe2f2;
        }

        ul li strong {
            color: #789922;
            font-weight: bold;
        }


        ul li span.date {
            color: #999;
            font-size: 12px;
        }

        ul li span.number {
            color: #999;
            font-size: 12px;
            font-style: italic;
        }

        ul li p {
            margin: 5px 0;
        }

    ul li {
        text-align: left;
    }

    .hotelDiv {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
    }

        .hotelDiv img {
            max-width: 100%;
            border-radius: 5px;
        }

        .hotelDiv h2 {
            margin-bottom: 10px;
            background: linear-gradient(45deg, #34345C, #8A8ABF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .hotelDiv p {
            margin-bottom: 10px;
            color: #34345C;
            font-weight: 500;
        }
</style>

<div class="hotelDiv">
    <img src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc=" alt="Изображение отеля" />
    <div>
        <h2>Hotel "1starParadise"</h2>
        <p><b>Welcome</b> to Hotel "1starParadise," where we've mastered the art of masking our true one-star status. Nestled in an unassuming location, our hotel exudes an aura of faux elegance, complete with questionable décor and a facade of grandeur. Step inside and be greeted by our charmingly cramped accommodations, adorned with vintage furnishings straight from the 1980s. Our lobby, featuring an oversized plastic plant and a chandelier that's seen better days, sets the stage for an unforgettable experience of pretending to be impressed.</p>
        <p><b>At "1starParadise</b>," we take pride in our ability to downplay our lackluster amenities with a smile. Indulge in our "continental" breakfast, which consists of stale pastries and lukewarm coffee served in mismatched mugs. Our pool area, reminiscent of a forgotten water feature, offers guests the chance to soak up the disappointment under the guise of relaxation. And don't miss our "exclusive" spa services, where our masseuses will attempt to knead away your worries on a massage table that may or may not collapse mid-session. Come for the illusion, stay for the unintentional comedy – "1starParadise" awaits.</p>
    </div>
</div>

//

<div class="text-center">
    <ul>
        @if (ViewBag.Messages != null)
        {
            var counter = 1;
            foreach (var message in ViewBag.Messages)
            {
                <li>
                    <span>
                        <strong style="color: @(message.User.Login == "admin" ? "purple" : "#789922"); font-weight: @(message.User.Login == Context.Session.GetString("login") ? "900" : "600");">@message.User.Name</strong>

                        @message.MessageDate.ToString("dd/MM/yyyy (ddd) HH:mm:ss")
                        No. <span class="number">@counter</span><br>
                        <p>@message.Message</p>
                    </span>
                </li>
                counter++;
            }
        }
    </ul>
    @if (Context.Session.GetString("name") != null)
    {
        <form id="messageForm" method="post" action="@Url.Action("AddMessage", "Home")">
            <div>
                <textarea id="message" name="message" class="form-control" rows="3" placeholder="Enter Message" maxlength="120" required></textarea>
                <button type="submit" class="btn btn-primary mt-2">Comment</button>
            </div>
        </form>
    }
</div>
