@{
    ViewData["Title"] = "Home Page";
}

<style>

    body{
        background-color: #EEF2FF;
    }
    ul li {
        background-color: #D6DAF0;
        border: 1px solid #999;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        min-width: 200px;
        display: grid;
    }

        ul li:nth-child(even) {
            background-color: #dfe2f2;
        }

        ul li strong {
            color: #789922;
            font-weight: bold;
        }


        ul li span.date {
            color: #999;
            font-size: 12px;
        }

        ul li span.number {
            color: #999;
            font-size: 12px;
            font-style: italic;
        }

        ul li p {
            margin: 5px 0;
        }

    ul li {
        text-align: left;
    }

    .hotelDiv {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
    }

        .hotelDiv img {
            max-width: 100%;
            border-radius: 5px;
        }

        .hotelDiv h2 {
            margin-bottom: 10px;
            background: linear-gradient(45deg, #34345C, #8A8ABF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .hotelDiv p {
            margin-bottom: 10px;
            color: #34345C;
            font-weight: 500;
        }
</style>

@section Scripts{
    <script>
    $(document).ready(function () {

        GetMessages();

        let printItem = function (message, count) {
            var login = '@Context.Session.GetString("login")';
            
            var isAdmin = message.User.Login === "admin";
            var isCurrentUser = message.User.Login === login;

            var messageDate = new Date(message.MessageDate);
            var formattedDate = messageDate.toLocaleString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric', weekday: 'short', hour: '2-digit', minute: '2-digit', second: '2-digit' });
            
            return `
        <li>
            <span>
                <strong style="color: ${isAdmin ? "purple" : "#789922"}; font-weight: ${isCurrentUser ? "900" : "600"};">
                    ${message.User.Name}
                </strong>

                 ${formattedDate}
              
 
                No. <span class="number">${count}</span><br>
                <p>${message.Message}</p>
            </span>
        </li>`;
        }


        function GetMessages() {
            $.ajax({
                url: '@Url.Action("GetMessages", "Home")',
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (response) {
                    let allMessages = "";
                    let messages = JSON.parse(response);
                    $.each(messages, function (index, message) {
                        allMessages += printItem(message,index+1);
                        console.log(message);
                    })
                    $("#message-list").html(allMessages);
                    

                },
                error: function () {
                    alert("Error retrieving messages.");
                }
            });
        }
        
        $("#btn-insert-message").on("click", function () {
            let formData = new FormData();
            var login = '@Context.Session.GetString("login")';
            formData.append("message.Message", $("#message").val());
            formData.append("login", login);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("InsertMessage", "Home")',
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    resetForm();
                    GetMessages();
                },
                error: function (jqXHR, statusText, error) {
                    console.log(jqXHR.status + '\n' + statusText + '\n' + error);
                }
            });
        });

        function resetForm() {
            $("#message").val("");
        }




    });
</script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="hotelDiv">
    <img src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc=" alt="Изображение отеля" />
    <div>
        <h2>Hotel "1starParadise"</h2>
        <p><b>Welcome</b> to Hotel "1starParadise," where we've mastered the art of masking our true one-star status. Nestled in an unassuming location, our hotel exudes an aura of faux elegance, complete with questionable décor and a facade of grandeur. Step inside and be greeted by our charmingly cramped accommodations, adorned with vintage furnishings straight from the 1980s. Our lobby, featuring an oversized plastic plant and a chandelier that's seen better days, sets the stage for an unforgettable experience of pretending to be impressed.</p>
        <p><b>At "1starParadise</b>," we take pride in our ability to downplay our lackluster amenities with a smile. Indulge in our "continental" breakfast, which consists of stale pastries and lukewarm coffee served in mismatched mugs. Our pool area, reminiscent of a forgotten water feature, offers guests the chance to soak up the disappointment under the guise of relaxation. And don't miss our "exclusive" spa services, where our masseuses will attempt to knead away your worries on a massage table that may or may not collapse mid-session. Come for the illusion, stay for the unintentional comedy – "1starParadise" awaits.</p>
    </div>
</div>

<div class="text-center">
    <ul id="message-list">
      
    </ul>
    @if (Context.Session.GetString("name") != null)
    {
        <form id="messageForm" method="post" action="@Url.Action("AddMessage", "Home")">
            <div>
                <textarea id="message" name="message" class="form-control" rows="3" placeholder="Enter Message" maxlength="120" required></textarea>
              
                <a href="javascript:void(0)" class="btn btn-primary  mt-2" id="btn-insert-message">Comment</a>
            </div>
        </form>
    }
</div>
